[Unit]
Description = Login Service
[Service]
User=root
Environment=USERS_API_ADDRESS=http://users_endpoint:8080
ExecStart=/home/ubuntu/login/login
SyslogIdentifier=login

[Install]
WantedBy=multi-user.target
